<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite</title>
    <link rel="stylesheet" href="/favourite.css">
</head>
<body>
     <header>
        <%-include('../partials/nav') %>
    </header>
    <main>
        <h1>Reserve page</h1>
    </main>
    
</body>
</html>