<%-include('../partials/head') %>
 <link rel="stylesheet" href="/addhome.css">
    </head>
<body>
    <header>
        <%-include('../partials/nav') %>
    </header>
    <main>
         <h1>Register your home here</h1>
        <form action="/host/add-home" method="POST">
            <input class="details" type="text" name="homeName" placeholder="Enter home name" />
            <input class="details" type="text" name="price" placeholder="Enter home price" />
            <input class="details" type="text" name="location" placeholder="Enter location" />
            <input class="details" type="file" 
              accept="image/jpg, image/jpeg, image/png"  name="photo" /> />
            
            <input class="submit-button" type="submit"/>
        </form>

    </main>
      
</body>
</html>