body{
    background-color: white;
    color: white;
}
nav{
    background-color: red;
    color: white;
    display: flex;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
nav ul li{
    font-size: 20px;
    font-weight: bold;
    font-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
header{
   align-items: center;
   justify-content: center;
   
}
h1{
    color: black;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}