nav{
    background-color: red;
    color: white;
    display: flex;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
nav ul li{
    font-size: 20px;
    font-weight: bold;
    font-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.signUp-bar a{
    margin-left: 20px;
}

header{
   align-items: center;
   justify-content: center;
   
}

main{
    background-color: rgb(234, 162, 111);
    padding: 30px;
    margin: auto;
    justify-items: center;
}

main h1{
    color: white;
    font-weight: 400;
    font-size: bold;
}
main form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.details{
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.submit-button{
    width: 250px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(34, 6, 245);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}