nav{
    background-color: red;
    color: white;
    display: flex;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
nav ul li{
    font-size: 20px;
    font-weight: bold;
    font-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.signUp-bar a{
    margin-left: 20px;
}
header{
   align-items: center;
   justify-content: center;
   
}

main{
    background-color: rgb(236, 126, 75);
    padding: 30px;
    margin: auto;
    justify-items: center;
}
main h1{
    color: white;
    text-align: center;
}
main a{
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: blue;
    text-decoration: none;
    border-radius: 5px;
}